---
layout: home
title: Alexander M Wolff - Visual Storyteller
---



  <hr class="clear-featurette-divider">
  <div class="adams" id="about">
   	<div class="row featurette">
      <div class="col-md-4">

        	<h3>My Vision
        	<br></h3>
        	<p align="left">What makes an image powerful? Memorable? Is every image worth one-thousand words, or do some have a deeper story to tell? While I don’t have the answers to these questions, I plan to explore them using the images I create. I believe the best images convey emotion, and provide a sense of story, so I aim to capture those elements when I get behind the lens. When one of my images speaks to you, my work as a photographer is fulfilled. As the viewer, I only ask that you pause when an image catches your eye. What is it about the image that appeals to you? What do you think of while viewing it? What do you feel? Explore as little or as much as you like, but please enjoy the view.
          <br><br>
          If you want to explore my full portfolio, or purchase prints of my images, please visit <a href="http://www.InspiredPhotons.com" ><font color="#0bb9e5">www.InspiredPhotons.com</font></a>.</p>
        </div>
      <div class="col-md-8">
        	<img class="image" src="../img/IMG_7079.jpg" alt="">
      </div>
  	</div>
  </div>


  <div id="blog">
    <hr class="clear-featurette-divider">
    <div class="adams">
      <hr class="featurette-divider">
      <h1>"Painting with light, in slivers of time, within the frame of our image" - David duChemin</h1>
      <hr class="clear-featurette-med-divider">
      {% for post in site.posts %}
        {% assign loopindex = forloop.index %}
        {% if loopindex <= 5 %}

          <div class="row featurette">
            <div class="col-sm-6">
              <h3><a href="{{post.url}}">{{post.title}}</a>
              </h3>
              <p>{{ post.date | date_to_string }}</p>
              <br>
              <p align="left">{{post.summary}}</p>
            </div>
            <div class="col-sm-6">
              <a href="{{post.url}}"><img class="img-thumbnail" src="{{post.image}}" alt=""></a>
            </div>
          </div>
          <hr class="clear-featurette-med-divider">

        {% endif %}
      {% endfor %}
      <div class="row featurette">
        <div class="col-xs-12">
          <h2 class="heading"><a href="/blog">Explore all entries...</a></h2>
        </div>
      </div>
    </div>
  </div>

