<div class="container" id="contact">
<hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-xs-8">
        <h2 class="lead">Email: 
        <a tabindex="0" class="btn pull-right" role="button" data-toggle="popover" data-trigger="focus" title="Email Address:" data-placement="left" data-content="LifeHasOrder(at)gmail(dot)com"><i class="fa fa-envelope fa-2x"></i></a></h2>
      </div>
    </div>


    <div class="row featurette">
      <div class="col-xs-8">
        <h2 class="lead">Twitter: <a class="pull-right" href="https://twitter.com/LifeHasOrder"><i class="fa fa-twitter fa-2x"></i></a></h2>
      </div>
    </div>

    
    <div class="row featurette">
      <div class="col-xs-8">
        <h2 class="lead">Code: <a class="pull-right" href="https://github.com/LifeHasOrder"><i class="fa fa-github-alt fa-2x"></i></a></h2>
      </div>
    </div>


    <div class="row featurette">
      <div class="col-xs-8">
        <h2 class="lead">Professional Life: <a class="pull-right" href="https://www.linkedin.com/in/lifehasorder"><i class="fa fa-linkedin-square fa-2x"></i></a></h2>
      </div>
    </div>


    <div class="row featurette">
      <div class="col-xs-8">
        <h2 class="lead">Social Networking: <a class="pull-right" href="https://plus.google.com/100151160303383716744/about"><i class="fa fa-google-plus-square fa-2x"></i></a></h2>
      </div>
    </div>
</div>
<hr class="featurette-divider">