<!-- <hr class="featurette-divider"> -->
<div id="contact">
<hr class="featurette-divider">


    <div class="row featurette">
      <div class="col-xs-8">
        <h2 class="lead">Portfolio: <a class="pull-right" href="https://www.inspiredphotons.com"><i class="fa fa-picture-o fa-2x"></i></a></h2>
      </div>
    </div>


    <div class="row featurette">
      <div class="col-xs-8">
        <h2 class="lead">Instagram: <a class="pull-right" href="https://www.instagram.com/inspiredphotons/"><i class="fa fa-instagram fa-2x"></i></a></h2>
      </div>
    </div>


    <div class="row featurette">
      <div class="col-xs-8">
        <h2 class="lead">Twitter: <a class="pull-right" href="https://twitter.com/InspiredPhotons"><i class="fa fa-twitter fa-2x"></i></a></h2>
      </div>
    </div>


    <div class="row featurette">
      <div class="col-xs-8">
        <h2 class="lead">Email: 
        <a tabindex="0" class="btn pull-right" role="button" data-toggle="popover" data-trigger="focus" title="Email Address:" data-placement="top" data-content="Inspired.Photons(at)gmail(dot)com"><i class="fa fa-envelope fa-2x"></i></a></h2>
      </div>
    </div>


</div>
<hr class="featurette-divider">