<!-- Footer -->
      <footer>
        <p>&copy; 2016 Alexander Wolff </p>
      </footer>


      
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/dist/js/scrollspy.js"></script>
    <script src="/dist/js/popover.js"></script>
    <script>
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    </script>