<div class="top-bar">&nbsp;</div>
<header>
  <div class="container">
    <h1 id="logo" class="content">
      <a href="{{ site.url }}/" data-escp="">Alexander Wolff</a>
    </h1>
    <nav id="nav">
      <ul class="content">
        <li{% if page.body_class == 'overview' %} class="current"{% endif %}>
          <a href="{{ site.url }}/">Overview</a>
        </li>
        <li{% if page.body_class == 'about' %} class="current"{% endif %}>
          <a href="{{ site.url }}/about/">About</a>
        </li>
        <li{% if page.body_class == 'cv' %} class="current"{% endif %}>
          <a href="{{ site.url }}/cv/">CV</a>
        </li>
        <li{% if page.body_class == 'blog' %} class="current"{% endif %}>
          <a href="{{ site.url }}/blog/">Blog</a>
        </li>
        <li{% if page.body_class == 'resources' %} class="current"{% endif %}>
          <a href="{{ site.url }}/resources/">Resources</a>
        </li>
        <li{% if page.body_class == 'contact' %} class="current"{% endif %}>
          <a href="{{ site.url }}/contact/">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
