---
layout: default
---



    <hr class="featurette-top-divider" id="blog">
    <hr class="clear-featurette-med-divider">  
     
    <h1>{{ page.title }}</h1>
    <h2><span class="text-muted">{{page.subtitle}}</span></h2>
    <p style="color:#888888" class="meta">{{ page.date | date_to_string }}</p>


    {{ content }}

    <br>

    {% include share.html %}

    <div class="row featurette">
        <div class="col-xs-12">
            <br>
            <br>
            <lead class="center"><a href='https://www.inspiredphotons.com'>Explore my full portfolio, and purchase prints of my images at InspiredPhotons.com</a></lead>
            <br>
            <br>
            <br>
            <h4><a href="/blog#blog">Read More Stories</a></h4>
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-xs-12 lead">
        {% include disqus.html %}
        </div>
    </div>

